<div class="ui large top fixed menu">
  <div class="ui container">
    <%= link_to root_path, class: "item" do %>
      <i class="big teal trophy icon"></i>
    <% end %>
    <div class="right menu">
      <%= link_to I18n.t("layouts.sign_in"), new_user_session_path, class: "item" %>
      <%= link_to I18n.t("layouts.sign_up"), new_user_registration_path, class: "item" %>
      <%= link_to help_path, class: "item" do %>
        <i class="question icon"></i>
      <% end %>
      <%= link_to "https://github.com/davidkus/triviacrack-web", class: "item", target: "_blank" do %>
        <i class="github icon"></i>
      <% end %>
    </div>
  </div>
</div>
