<div class="ui fixed inverted teal menu">
  <div class="ui container">
    <%= link_to root_path, class: "item" do %>
      <i class="trophy icon"></i> <%= t('layouts.home') %>
    <% end %>
    <%= link_to I18n.t("layouts.sign_in"), new_user_session_path, class: "item" %>
    <%= link_to I18n.t("layouts.sign_up"), new_user_registration_path, class: "item" %>
    <%= link_to help_path, class: "right item" do %>
      <i class="question icon"></i>
    <% end %>
  </div>
</div>
